body {
    background-color: yellow;
}

div {
    text-align: center;
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: center;
}

.imagem {
    position: absolute;
    right: 0px;
    bottom: 0;
}