body {
    background-color: yellow;
}

.texto {
    text-align: center;
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1>div {
    background: white;
    height: 300px;
    margin: 20px;
    width: 300px;
    position: relative;
    resize: vertical;
    overflow: auto;
}

p {
    text-align: center;
}

.imagem {
    position: absolute;
    right: 0px;
    bottom: 0px;
}