/*#total {
    box-sizing: border-box;
    height: 750px;
}*/

.imagem {
    box-sizing: border-box;
    background-size: auto;
    width: 400px;
    height: auto;
    margin: -8px;
}

/*cabecalho*/

#cabecalho {
    box-sizing: border-box;
    margin: -8px;
    border: 20px;
    padding: 0px 5px 0px 10px;
    background-color: green;
    overflow: auto;
}

#cabecalho>h3 {
    color: white;
    float: left;
    padding-right: 20px;
}

#cabecalho>input, label {
    float: right;
    color: white;
    height: 20px;
    line-height: 60px;
}

/*pagina*/

#pagina {
    float: right;
}

/*outras informacoes*/

#informacoes {
    box-sizing: border-box;
    float: right;
    list-style-image: url(bullet.gif);
    padding: 0.1px;
}

#informacoes>div {
    box-sizing: border-box;
    background-color: gray;
    color: white;
    height: 30px;
    width: 180px;
    text-align: center;
    line-height: 30px;
}

#inforamcoes>ul {
    color: green;
}

/*barra do fundo*/

#contactos {
    background-color: gray;
    position: absolute;
    bottom: 0px;
    width: 1350px;
    margin: -8px;
    /*centrar uma div*/
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#contactos>p {
    color: white;
    display: inline-block;
    padding-right: 10px;
}