#cabecalho {
    font-family: arial, sans-serif;
    font-weight: bold;
    background-color: #424b5a;
    box-sizing: border-box;
    height: 100px;
    margin: -8px;
    border: 20px;
    padding: 20px 20px 40px 20px;
}

#cabecalho>p {
    display: inline;
    color: white;
    font: bold;
}

#cabecalho>p>a {
    color: white;
    font: bold;
    text-decoration: none;
}

#nome {
    float: left;
}

#links {
    float: right;
}

/*Titulo da div2*/

#sobre {
    background-image: url(bg.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin: -8px;
    border: 20px;
    width: auto;
    height: 500px;
    padding: 100px 20px 40px 300px;
}

#sobre>h1 {
    font-family: cursive;
    color: #424b5a;
}

/* botão */

#saberMaisBotao {
    box-sizing: border-box;
    padding-top: 30px;
    width: 100px;
}

/* o tamanho do interior do "botao" nao altera */

#saberMaisBotao>p>a {
    font-family: cursive;
    color: white;
    background-color: #424b5a;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}

/*Título da div Sobre Mim, trabalhos, horario*/

h2 {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #424b5a;
    text-align: center;
    padding-top: 100px;
}

/*Subtitulos da div 3*/

#sobreMim>img {
    float: left;
    width: 500px;
    padding-right: 50px;
    padding-left: 25%;
    padding-bottom: 50px;
}

#experiencia {
    float: left;
}

.subtitulo {
    color: #424b5a;
}

li {
    color: #a1aeb7;
}

/* trabalhos */

#trabalhos {
    clear: both;
    background-color: #f2f5f7;
}

#trabalhos>p {
    color: #a1aeb7;
    padding-bottom: 30px;
    text-align: center;
}

#imagens {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

#imagens>img {
    width: 250px;
}

/*tabela*/

#divHorario>p {
    text-align: center;
}

#divHorario>table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

tr>th {
    box-sizing: border-box;
    padding: 20px;
    background-color: #f2f5f7;
    color: #424b5a;
}

tr>td {
    text-align: center;
}

/*formulario*/

#formulario {
    background-color: #f2f5f7;
}

#form {
    padding-left: 44%;
}

input[type=text], input[type=email], select, textarea {
    width: 200px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #424b5a;
    text-transform: uppercase;
    font-size: 16px;
    font-family: cursive;
    box-sizing: border-box;
    color: white;
    padding: 10px;
    width: 200px;
    margin: 5px;
    font-weight: bold;
}

#redesSociais>img {
    width: 20px;
}

#redesSociais {
    padding-top: 50px;
    padding-left: 47%;
}